.profile {
  width: 410px;
  margin: 0 auto;
  padding: 0;
}

.profile__header {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  padding: 74px 0 106px;
  margin: 0;
}

.profile__line {
  display: flex;
  justify-content: space-between;
  padding: 17px 0 16px;
  margin: 0;
}

.profile__line:first-of-type {
  border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.profile__text {
  margin: 0;
  padding: 0;
  font-size: 11px;
  line-height: 13px;
}

.profile__text_wight_medium {
  font-weight: 500;
}

.profile__text_wight_regular {
  font-weight: 400;
}

.profile__button {
  border: none;
  background: transparent;
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  left: 50%;
  transform:translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.profile__button_color_black {
  bottom: 102px;
}

.profile__button_color_red {
  bottom: 70px;
  color: rgba(255, 64, 98, 1);
}

@media screen and (max-width: 768px) {

  .profile__header {
    padding: 236px 0 96px;
  }
  .profile__button_color_black {
    bottom: 301px;
  }
  .profile__button_color_red {
    bottom: 269px;
  }
}

@media screen and (max-width: 520px) {
  .profile {
    width: 260px;
  }
  .profile__header {
    padding: 70px 0 80px;
  }
  .profile__button_color_black {
    bottom: 71px;
  }
  .profile__button_color_red {
    bottom: 40px;
  }
}