.show-more-button {
  border: none;
  background: rgba(249, 249, 249, 1);
  border-radius: 6px;
  width: 320px;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin: 0 auto 80px;
  padding: 0;
  text-align: center;
  display: block;
}

@media screen and (max-width: 520px) {
  .show-more-button {
    width: 240px;
  }
}