.navigation {
  margin: 0;
  padding: 0;
}

.navigation__links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.navigation__link {
  padding: 28px 20px 28px 0;
  font-size: 14px;
  font-family: 'Inter';
  margin: 0;
}

.navigation__link:last-child {
  padding-left: 30px;
  padding: 21px 70px 23px 0;
}

.navigation__link_font_medium {
  font-weight: 500;
}

.navigation__link_font_regular {
  font-weight: 400;
}

.navigation__button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.navigation__button:last-child {
  display: flex;
  align-items: center;
}

.navigation__button-text {
  margin: 0;
  padding: 0 0 0 30px;
}

.navigation__button-icon {
  width: 26px;
  height: 30px;
  background-color: #F9F9F9;
  border-radius: 4px;
  background-image: url(../../images/icon__button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11.5px 14px;
  margin: 0 0 0 17px;
  padding: 0;
}

.navigation__button-burger {
  display: none;
}

@media screen and (max-width: 767px) {
  .navigation__links {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navigation__button-burger {
    width: 40px;
    height: 43px;
    margin: 15px 15px 15px 0;
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
  }
}
