.search-form {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  display: flex;
}

.search-form__input {
  padding: 70px 0 13px;
  width: 1106px;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  border: none;
  margin: 0;
}

.rsearch-form__input::placeholder {
  color: rgba(160, 160, 160, 1);
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}

.search-form__button {
  border: none;
  background: transparent;
  padding: 0;
  height: 34px;
  margin: 70px 0 0;
}

.search-form__icon {
  width: 34px;
  height: 34px;
  margin: 0;
  padding: 0;
}

.search-error {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  color: #EE3465;
    min-height: 12px;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .search-form {
    margin: 0 70px;
  }
  .search-error {
    margin: 0 70px;
  }
}

@media screen and (max-width: 768px) {
  .search-form {
    max-width: 708px;
    margin: 0 30px;
  }

  .search-form__input {
    padding-top: 80px;
    width: 674px;
  }

  .search-form__button {
    margin: 80px 0 0;
  }

  .search-error {
    margin: 0 30px;
  }
}

@media screen and (max-width: 520px) {
  .search-form {
    margin: 0 14px;
    max-width: 674px;
  }

  .search-form__input {
    padding: 90px 0 15px;
    max-width: calc(100% - 14px - 14px);
  }

  .search-form__button {
    margin: 84px 0 0;
    padding: 0;
  }

  .rsearch-form__input::placeholder {
    font-size: 18px;
    line-height: 22px;
  }

  .search-error {
    margin: 0 14px;
    font-size: 10px;
  }
}